#!/bin/bash
BLUEPODS_DIR="{{ bluepods_dir | replace('~', '$HOME') }}"

nohup $BLUEPODS_DIR/bin/bluepods-node \
  --data $BLUEPODS_DIR/data/node-{{ node_index }} \
  --http {{ lan_ip }}:{{ http_port }} \
  --quic {{ lan_ip }}:{{ quic_port }} \
  --system-pod $BLUEPODS_DIR/bin/pod.wasm \
  --min-validators {{ min_validators }} \
  --sync-buffer {{ sync_buffer }} \
  --gossip-fanout {{ gossip_fanout }} \
  --transition-grace {{ transition_grace }} \
  --transition-buffer {{ transition_buffer }} \
  --epoch-length {{ epoch_length }} \
{% if is_bootstrap_node %}
  --bootstrap \
  --initial-mint {{ initial_mint }} \
{% else %}
  --bootstrap-addr {{ bootstrap_ip }}:{{ bootstrap_quic_port }} \
{% endif %}
  > $BLUEPODS_DIR/logs/node-{{ node_index }}.log 2>&1 &

echo $! > $BLUEPODS_DIR/pids/node-{{ node_index }}.pid
