---
# Start a batch of nodes (included by start.yml)
# Expects: batch_start, batch_end

- name: Generate start scripts for batch
  template:
    src: ../templates/start_node.sh.j2
    dest: "{{ bluepods_dir }}/start-node-{{ item }}.sh"
    mode: "0755"
  vars:
    node_index: "{{ item }}"
    http_port: "{{ http_base | int + item | int }}"
    quic_port: "{{ quic_base | int + item | int }}"
    is_bootstrap_node: false
  loop: "{{ range(batch_start | int, batch_end | int + 1) | list }}"

- name: Launch batch
  shell: "{{ bluepods_dir }}/start-node-{{ item }}.sh"
  loop: "{{ range(batch_start | int, batch_end | int + 1) | list }}"

- name: "Wait {{ batch_delay }}s between batches"
  pause:
    seconds: "{{ batch_delay }}"
